@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@theme{
    --font-Inter : "Inter","san-sarif";
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}


root{
    --primarycolor : "white";
    --secondarycolor : "blue";
}